<%= form_with model: @car do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @car.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
     <% @car.errors.full_messages_for(:price).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

   <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
      <% @car.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

   <div>
    <%= form.label :color %><br>
    <%= form.text_field :color %>
      <% @car.errors.full_messages_for(:color).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Saqtau" %>
  </div>
<% end %>