<h1><%= @car.name %></h1>

<p><b>Price:</b><%= @car.price %></p>

<p>  <b>Color:</b> <%= @car.color %> </p>
<div style="background: <%= @car.color %>; border: 1px solid; width: 10px; height: 10px;"></div>

<p><%= @car.description %></p>

<ul>
  <li><%= link_to "Edit", edit_car_path(@car) %></li>
  <li><%= link_to "Destroy", car_path(@car), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %></li>
</ul>

<h2>Comments</h2>
<%= render @car.comments %>

<h2>Add a comment:</h2>
<%= form_with model: [ @car, @car.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>




<p>
    <%= form.submit %>
  </p>
<% end %>
